<%= partial("partials/nav.plush.html") %>

<div class="mx-[200px] py-5">
    <a href="/admin/clients/new" class="bg-blue-500 text-white p-2 hover:bg-blue-400 rounded-md  px-4 mb-3 ">New</a>

    <%= if (len(clients) > 0) { %>
        <div class=" shadow-md mt-3">
            <table class="w-full">
                <thead>
                    <tr>
                        <th class="px-6 py-2 bg-white text-left font-semibold">FullName</th>
                        <th class="px-6 py-2 bg-white text-left font-semibold">Account name</th>
                        <th class="px-6 py-2 bg-white text-left"></th>
                    </tr>
                </thead>
                <tbody>
                    <%= for (index, client) in clients { %>
                    <tr class="border-t-2 bg-white"> 
                        <td class="px-6 py-2 w-96 text-sm font-medium text-gray-900">
                            <div class="flex items-center">
                                <div class="flex flex-col w-96">
                                        <a href="#" class="no-underline text-black"><p class="font-semibold text-base w-80 truncate"><%= client.Person.FullName() %></p></a>
                                        <span class="text-gray-500 uppercase"></span>
                                </div>
                            </div>
                        </td>
        

                        <td class="px-6 py-2 w-96 text-sm font-medium text-gray-900">
                            <div class="flex items-center">
                                <div class="flex flex-col w-96">
                                        <a href="#" class="no-underline text-black"><p class="font-semibold text-base w-80 truncate"><%= client.Account.Name %></p></a>
                                        <span class="text-gray-500 uppercase"></span>
                                </div>
                            </div>
                        </td>

        
                        <td class="flex px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900 justify-end items-center">
                            <a href="/admin/clients/<%= client.ID %>/edit" class="flex items-center py-2 px-3 hover:text-gray-900">
                            <span class="material-symbols-outlined text-xl mr-1">
                                drive_file_rename_outline
                                </span>
                                Edit
                            </a>

                            <%= form_for(client, {action: deleteClientPath({client_id: client.ID}), method: "DELETE"}){ %> 
                                <button type="submit" class="text-red-500 flex items-center">
                                    <span class="material-symbols-outlined text-xl">                      
                                        delete
                                        </span>                  
                                        Delete
                                </button>
                            <% } %>

                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

    <% } else  {%>
        <p>No Clientd</p>
    <% } %>
</div>
